// Base

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

table:nth-child(even) td {
  background-color: #f5f6f7;
}
table:nth-child(odd) td {
  background-color: rgb(255, 255, 255);
}
